[build]
builder = "DOCKERFILE"

[deploy]
healthcheckPath = "/"
healthcheckTimeout = 100
restartPolicyType = "ON_FAILURE"
restartPolicyMaxRetries = 10

# This tells Railway to use the frontend folder
rootDirectory = "frontend"

[[services]]
name = "frontend"

[services.variables]
NODE_ENV = "production"
PORT = "3000"
