[build]
builder = "NIXPACKS"

[deploy]
healthcheckPath = "/"
healthcheckTimeout = 100
restartPolicyType = "ON_FAILURE"
restartPolicyMaxRetries = 10
startCommand = "serve -s build -l 3000"

[[services]]
name = "frontend"

[services.variables]
NODE_ENV = "production"
PORT = "3000"
