[build]
builder = "DOCKERFILE"

[deploy]
healthcheckPath = "/api/"
healthcheckTimeout = 100
restartPolicyType = "ON_FAILURE"
restartPolicyMaxRetries = 10

[[services]]
name = "backend"

[services.variables]
NODE_ENV = "production"
