[build]
builder = "NIXPACKS"

[deploy]
healthcheckPath = "/api/"
healthcheckTimeout = 100
restartPolicyType = "ON_FAILURE"
restartPolicyMaxRetries = 10
startCommand = "node server.js"

[[services]]
name = "backend"

[services.variables]
NODE_ENV = "production"
